<h1>Listing values</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <% @values.each do |value| %>
   <td><%= value.name %></td>
   <td>
     <% value.actions.each do |action| %>
       <small><%= action.name %></small>
     <% end %>
   </td>
   <tr>
    <td><%= link_to 'Show', value %></td>
  </tr>
  <% end %>
</tbody>
</table>

<br>
