<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @value.name %>
      <% @value.actions.each do |action| %>
       <small><%= action.name %></small>
    <% end %>
</p>

<%= link_to 'Back', values_path %>
