<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @action.name %>
     <% @action.values.each do |value| %>
       <small><%= value.name  %></small>
    <% end %>
</p>

<%= link_to 'Back', actions_path %>
