<div class="col-md-12 column">
	<div class="jumbotron">
		<h1>
		Habitabi
		</h1>
		<p>
			Track your habits every day! The coolest app around
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
		</p>
	</div>
</div>