<%= javascript_tag do %>
$(document).ready(function() {
  $("input#habit_action_attributes_name").select2({

    width: '400px',
    placeholder: "Action",
    minimumInputLength: 1,
    multiple: false,
    id: function(obj) {
      return obj.name; // use slug field for id
    },
    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
      url: "/actions_json",
      dataType: 'json',
      data: function (term, page) {
        return {
          name: term, // search term
          page_limit: 10
        };
      },
      results: function (data, page) { // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to alter remote JSON data
        return {results: data};
      }
    },
    formatResult: FormatResult,
    formatSelection: FormatSelection,
    escapeMarkup: function (m) { return m; },
    createSearchChoice:function(term, data) {
             if ( $(data).filter( function() {
               return this.name.localeCompare(term)===0;
             }).length===0) {
               return {id:term, name:term};
             }
           }
         
  });

  $("input#habit_value_attributes_name").select2({

    width: '400px',
    placeholder: "Action",
    minimumInputLength: 1,
    multiple: false,
    id: function(obj) {
      return obj.name; // use slug field for id
    },
    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
      url: "/values_json",
      dataType: 'json',
      data: function (term, page) {
        return {
          name: term, // search term
          page_limit: 10
        };
      },
      results: function (data, page) { // parse the results into the format expected by Select2.
        // since we are using custom formatting functions we do not need to alter remote JSON data
        return {results: data};
      }
    },
    formatResult: FormatResult,
    formatSelection: FormatSelection,
    escapeMarkup: function (m) { return m; },
    createSearchChoice:function(term, data) {
             if ( $(data).filter( function() {
               return this.name.localeCompare(term)===0;
             }).length===0) {
               return {id:term, name:term};
             }
           }
         
  });
})

function FormatResult(item) {
  return '<div>' + item.name + '</div>';
}

function FormatSelection(item) {
  return item.name;
}
<% end %>



<h1>New habit</h1>

<%= render 'form' %>

<%= link_to 'Back', habits_path %>
